//----------- Colors -----------//
$primary-color: #7377BF;
$primary-dark: #6A6EBF;
$header: #7477BF;
$side-nav: #4D4C72;
$white: #FFFFFF;
$background-gray: #FBFBFB;
$border: #EEEEEF;

$notification: #85E07C;

$primary-font: #9A9999;

//----------- Margin & Padding -----------//
$right-body: 15px;
$left-body: 15px;

//----------- Font Sizes -----------//
$primary-font-size: 11px;
