//----------- Colors -----------//
$primary-color: #7377BF;
$primary-dark: #6A6EBF;
$header: #7477BF;
$side-nav: #4D4C72;
$white: #FFFFFF;
$background-gray: #FBFBFB;


$notification: #85E07C;

$primary-font: #9A9999;

//----------- Margin & Padding -----------//
$body-space: 30px;

//----------- Font Sizes -----------//
$primary-font-size: 14px;

//----------- Font Sizes -----------//
$border: #DDDDDD;
$border-style: 2px solid $border;
