main,
.summary-stats,
.social-stats,
.member-activity {
  display: grid;
}

main {
  grid-template-columns: 75px auto;
}

.summary-stats {
  grid-template-columns: 1fr 1fr;
}

.social-stats {
  grid-template-columns: 1fr 1fr 1fr;
}
