@import '../utilities/variables';
@import '../utilities/mixins';

main,
.summary-stats,
.social-stats,
.member-activity {
  display: grid;
}

.summary-stats {
  grid-template-columns: repeat(minmax(320px, 1fr));
}

.social-stats {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 40px;
}

.member-activity {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 1px;
}

@include tablet {
  main {
    grid-template-columns: 75px minmax(0, 1fr);
  }
}
