@import '../utilities/variables';
@import '../utilities/mixins';

.notification-area,
.profile {
  display: flex;
  align-items: center;
}

header {
  @include flex-between;
  width: 100%;
  height: 75px;
  background-color: $header;
}

.logo-text {
  font-size: 24px;
}

.notification {
  height: 25px;
}

.notification-bell {
  position: relative;
  margin-right: $body-space-mobile;
  @include tablet {
    margin-right: $body-space;
  }
}
.notified {
  position: absolute;
  top: -20px;
  right: -10px;
  color: $notification;
  font-size: 40px;
}

.profile {
  border-left: solid 2px $primary-dark;
}

.profile-image {
  margin-right: 10px;
}

.logo-text,
.profile {
  padding-left: $body-space;
}

.logo-text,
.user-name {
  color: $white;
}

.user-name {
  font-size: 16px;
}

.notification-area {
  padding-right: $body-space;
}
