@import '../utilities/variables';
@import '../utilities/mixins';

//----------- Tab & Search Area -----------//

.sidenav-item {
  padding: 22px;
}

.sidenav-item img{
  opacity: 70%;
}

.sidenav-item:first-child {
  border-left: 2px solid #9EE08B;
}

.sidenav-item:first-child img {
  opacity: 100%;
}

//----------- Tab & Search Area -----------//
.tab-and-search {
  @include flex-between;
  background-color: $background-gray;
}

// --- Search bar
.tab {
  display: flex;
  align-items: center;
  height: 70px;
  border-top-right-radius: 5px;
  padding-left: $body-space;
  padding-right: $body-space;
  background-color: $white;
  border-right: $border-style;
}

// --- Search bar

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: $border-style;
  margin: auto 0;
}

.search input {
  width: 40%;
  height: 45px;
  padding-left: $body-space;
  outline-color: $border;
  margin-right: $body-space;
  font-weight: 600;
  outline: none;
  border-radius: 5px;
  border: $border-style;
}

::placeholder {
  color: $border;
}

//----------- Alert -----------//
.alerts {
  margin: $body-space;
  padding: 15px;
  height: 45px;
  border-radius: 5px;
  @include flex-between;
  font-size: $primary-font-size;
  color: $white;
  background-color: $primary-color;
}

.alerts p {
  padding: 0px;
  margin: 0px;
}

//----------- Charts & Period Toggles -----------//
canvas {
  padding-top: $body-space;
  padding-bottom: $body-space;
}

// --- Traffic
.chart-controls {
  @include flex-between;
}

.controls h3 {
  display: inline;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.chart {
  padding-left: $body-space;
  padding-right: $body-space;
  border-bottom: $border-style;
}

// --- Daily Traffic & Mobile Users
.daily-traffic,
.mobile-users {
  padding: $body-space;
  padding-bottom: 0;
  border-bottom: $border-style;
}

.daily-traffic {
  border-right: $border-style;
}
