@import '../utilities/variables';
@import '../utilities/mixins';

//----------- Tab & Search Area -----------//
.sidenav-item {
  padding: 18px;
}

.sidenav-item img{
  opacity: 70%;
}

.sidenav-item:first-child {
  border-left: 2px solid #9EE08B;
}

.sidenav-item:first-child img {
  opacity: 100%;
}

//----------- Tab & Search Area -----------//
.tab-and-search {
  @include flex-between;
  background-color: $background-gray;
}

h1 {
  font-size: 16px;
  color: $primary-font;
}

// --- Search bar
.tab {
  display: flex;
  align-items: center;
  height: 50px;
  border-top-right-radius: 5px;
  padding-left: $left-body;
  padding-right: $right-body;
  background-color: $white;
  border-right: solid 2px $border;
}

// --- Search bar

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: solid 2px $border;
  margin: auto 0;
}

.search input {
  width: 40%;
  height: 30px;
  padding-left: $left-body;
  outline-color: $border;
  margin-right: $right-body;
  font-weight: 600;
  outline: none;
  border-radius: 2px;
  border: 2px solid $border;
}

::placeholder {
  color: $border;
}

//----------- Alert -----------//
.alerts {
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
  @include flex-between;
  font-size: $primary-font-size;
  color: $white;
  background-color: $primary-color;
}

.alerts p {
  padding: 0px;
  margin: 0px;
}

//----------- Charts & Period Toggles -----------//
.chart-controls {
  @include flex-between;
}

.controls h3 {
  display: inline;
}

.chart {
  padding-left: $left-body;
  padding-right: $right-body;
}
