@import '../utilities/variables';
@import '../utilities/mixins';

* {
  box-sizing: border-box;
}

html {
  max-width: 1500px;
  background-color: $header;
  margin: auto;
}

body {
  margin: 0;
  background-color: $white;
}

//----------- Spacing -----------//

//--- Left Only ---//


//--- Right Only ---//


//--- Left & Right ---//
.tab,
.search,
.chart,
.social-container,
.feed,
.column h2,
.message-user,
.message-user input,
.message-user textarea,
.message-user button {
  padding-left: $body-space-mobile;
  padding-right: $body-space-mobile;
  @include tablet {
    padding-left: $body-space;
    padding-right: $body-space;
  }
}
