@import '../utilities/variables';
@import '../utilities/mixins';

* {
  box-sizing: border-box;
}

html {
  max-width: 1500px;
  background-color: $header;
  margin: auto;
}

body {
  margin: 0;
  background-color: $white;
}

.chart {
  padding-left: $body-space-mobile;
  padding-right: $body-space-mobile;
  @include tablet {
    padding-left: $body-space;
    padding-right: $body-space;
  }
}
