@import '../utilities/variables';
@import '../utilities/mixins';

* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
p {
  color: $primary-font;
  padding-top: $body-space-mobile;
  padding-bottom: $body-space-mobile;
  margin: 0;
  @include tablet {
    padding: 0;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.bold {
  font-weight: 600;
}

sup {
  font-size: 6px;
}
